#cabecera{
    background:red;
    width: 50%;
    padding: 3em;
    text-align: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    
}

#cero{
    width: 80%; 
    padding: 1em;  
    text-align: left;
    border: 1px solid #868cff;
}

#uno{
 width: 70%; 
 padding: 1em;  
 text-align: left;
 border: 1px solid #86E5FF;
}

#dos{
 width: 50%; 
 padding: 1em;  
 text-align: left;
 border: 1px solid #FFB26B;
}

h1{
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
    padding: 5;
    color: brown;
}

h2{
    font-size: 5;
    font-family: 'Courier New', Courier, monospace;
    margin: 5;
    padding: 5;
    color: blue;
}

h3{
    font-size: 5;
    font-family: 'Courier New', Courier, monospace;
    margin: 5;
    padding: 5;
    color: #FFD56F;
}
p1{
    font-size: 5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5;
    padding: 5;
    color: blueviolet;
}

p2{
    font-size: 5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5;
    padding: 5;
    color: brown;
}

p3{
    font-size: 5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5;
    padding: 5;
    color:#939B62;  
}